<%= cache("all_categories-#{Category.last.id}") do %>
    <h1>Categories#index</h1>
    <ul>
      <% @categories.each do |c| %>
          <%= cache c do %>
              <h3> Name </h3>
              <%= c['name'] %>
              <h3> Description </h3>
              <%= c['desc'] %>
              <hr />
          <% end %>
      <% end %>
    </ul>
<% end %>
